.grid__shelters {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: start;
  margin-top: 1rem;
  gap: 1rem;
}

.card__shelter {
  padding: 1rem;
  margin: 0;
  background-color: #f6f6f6;
  border: 1px solid rgb(247, 248, 249);
  border-radius: 10px;
}
