.status {
  font-size: 87.5%;
  padding: 1rem;
  background-color: #f2f2f2;
  box-shadow: 3px -7px 6px -5px rgb(0 0 0 / 16%);
}

.status__text {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.125;
  max-width: 640px;
  margin: 0 auto;
}

.status__text a {
  color: #000;
  margin-top: 0;
}

.status__column {
  display: grid;
  justify-content: start;
}

.status__last {
  justify-content: end;
}
